<ion-header>
  <ion-toolbar color="primary">

    <!-- Título de la app -->
    <ion-title>InfoNow</ion-title>

    <ion-buttons slot="end">

      <!-- BOTÓN ABOUT -->
      <ion-button routerLink="/about">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        About
      </ion-button>

      <!-- BOTÓN AJUSTES -->
      <ion-button routerLink="/ajustes">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        Ajustes
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
