.header-toolbar {
  justify-content: center;
  text-align: center;
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

ion-title {
  width: 100%;
  text-align: center;
}
.about-btn {
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  text-transform: none;
}

ion-icon {
  font-size: 1.2rem;
}
