<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-list-header>Apariencia</ion-list-header>

    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle [(ngModel)]="modoOscuro" (ionChange)="cambiarModoOscuro()"></ion-toggle>
    </ion-item>

    <ion-list-header>Perfil</ion-list-header>

    <ion-item>
      <ion-label position="stacked">Nombre del usuario</ion-label>
      <ion-input
        [(ngModel)]="nombreUsuario"
        placeholder="Escribe tu nombre">
      </ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" class="ion-margin-top"
                (click)="guardarNombre()">
      Guardar nombre
    </ion-button>

  </ion-list>

</ion-content>
