<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="noticia; else noEncontrada">

    <ion-img [src]="noticia.imagen"></ion-img>

    <h1>{{ noticia.titulo }}</h1>

    <p>
      <ion-badge color="secondary" *ngIf="noticia.categoria">
        {{ noticia.categoria }}
      </ion-badge>

      <ion-badge color="danger" *ngIf="noticia.esUrgente">
        URGENTE
      </ion-badge>
    </p>

    <p><strong>Fecha:</strong> {{ noticia.fecha | date:'mediumDate' }}</p>

    <p class="descripcion">
      {{ noticia.descripcion }}
    </p>

  </div>

  
  

  <!-- Noticia no encontrada -->
  <ng-template #noEncontrada>
    <div class="ion-text-center">
      <p>Noticia no encontrada.</p>
      <ion-button routerLink="/home">Volver</ion-button>
    </div>
  </ng-template>

</ion-content>
